<body>
    <!-- 
    Codigo proporcionado por Facebook para la version default del SDK
    -->
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1082951008399846',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- --------------------------------------------- -->
<h3>Bienvenido a Instahash</h3>

Empieza usar la applicacion aceptando ingresar con tu cuenta de <a href="http://www.google.com"><button >facebook</button></a>



</body>
